Repository GentemProject/mainpage-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:frontend, deploy:backend, deploy:frontend

build:backend:
  stage: build
  image: node:12.13.1-alpine
  script:
  - cd backend
  - yarn install
  - yarn format:check
  - yarn build
  artifacts:
    paths:
    - backend/build
    - backend/node_modules

build:frontend:
  stage: build
  image: node:12.13.1-alpine
  script:
  - cd frontend
  - yarn install
  - yarn export
  artifacts:
    paths:
    - frontend/out

deploy:backend:
  stage: deploy
  image: pahud/aws-sam-cli:latest
  script:
  - cd backend
  - printenv > .env
  - sam validate --template-file template.yaml
  - sam package --template-file template.yaml --output-template-file packaged.yaml --s3-bucket gentem-backend --s3-prefix gt-api
  ...

deploy:frontend:
  stage: deploy
  image: garland/aws-cli-docker:latest
  script:
  - cd frontend
  - mv out/_next .
  - mv out _out
  - mkdir -p out/builds/Our-BUild-Hash
  - mv _out/* out/builds/Our-BUild-Hash
  - rm -rf _out
  - mv _next out/
  ...

ong filter changed
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

volviendo al cambio anterior
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

profile img fixed
  frontend/components/organization/Contenido.tsx
  frontend/next.config.js
  frontend/pages/org/[slug].tsx
  frontend/styles/organization.module.scss
Due: build:frontend, deploy:frontend

testing deploy
  .gitlab-ci.yml
Due: none

testing the ** deploy
  .gitlab-ci.yml
  frontend/next.config.js
Due: build:frontend, deploy:frontend

categories updated
  frontend/api/categories.json
Due: build:frontend, deploy:frontend

testing the deploy
  frontend/.gitlab-ci.yml
  frontend/next.config.js
Due: build:frontend, deploy:frontend

quedo facherito
  frontend/components/home/info-home.tsx
  frontend/components/home/nosotros-home.tsx
  frontend/components/home/stats.tsx
  frontend/styles/home/home.module.scss
  frontend/styles/home/home.module.scss.d.ts
Due: build:frontend, deploy:frontend

profile styles & list community fixed
  frontend/components/organization/Contenido.tsx
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/ResultItem.tsx
  frontend/components/usables/TargetBase.tsx
  frontend/components/usables/useCategories.tsx
  frontend/public/twitter.svg
  frontend/styles/lib/usables.module.scss
  frontend/styles/organization.module.scss
  frontend/styles/styles.scss
Due: build:frontend, deploy:frontend

troube with push
  frontend/next.config.js
Due: build:frontend, deploy:frontend

fixing url #1
  frontend/next.config.js
Due: build:frontend, deploy:frontend

fix url #2
  frontend/components/projects/ResultItem.tsx
  frontend/next.config.js
  frontend/styles/home/home.module.scss.d.ts
  frontend/styles/onglist.module.scss
  frontend/styles/onglist.module.scss.d.ts
Due: build:frontend, deploy:frontend

api pagination added
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
Due: build:backend, deploy:backend

error with format
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

pagination ready
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

pagination api added to projects page
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

pagination added
  frontend/api/filters.ts
  frontend/components/projects/ContenidoSider.tsx
  frontend/interfaces/organization.ts
  frontend/pages/projects.tsx
  frontend/styles/home/home.module.scss.d.ts
  frontend/styles/onglist.module.scss
  frontend/styles/onglist.module.scss.d.ts
Due: build:frontend, deploy:frontend

favicons & map updated
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/public/favicons/android/android-icon-144x144.png
  frontend/public/favicons/android/android-icon-192x192.png
  frontend/public/favicons/android/android-icon-36x36.png
  frontend/public/favicons/android/android-icon-48x48.png
  frontend/public/favicons/android/android-icon-72x72.png
  frontend/public/favicons/android/android-icon-96x96.png
  frontend/public/favicons/apple/apple-icon-114x114.png
  frontend/public/favicons/apple/apple-icon-120x120.png
  frontend/public/favicons/apple/apple-icon-144x144.png
  frontend/public/favicons/apple/apple-icon-152x152.png
  frontend/public/favicons/apple/apple-icon-180x180.png
  frontend/public/favicons/apple/apple-icon-57x57.png
  frontend/public/favicons/apple/apple-icon-60x60.png
  frontend/public/favicons/apple/apple-icon-72x72.png
  frontend/public/favicons/apple/apple-icon-76x76.png
  frontend/public/favicons/apple/apple-icon-precomposed.png
  frontend/public/favicons/apple/apple-icon.png
  frontend/public/favicons/favicon-16x16.png
  frontend/public/favicons/favicon-32x32.png
  frontend/public/favicons/favicon-96x96.png
  frontend/public/favicons/ms/browserconfig.xml
  frontend/public/favicons/ms/ms-icon-144x144.png
  frontend/public/favicons/ms/ms-icon-150x150.png
  frontend/public/favicons/ms/ms-icon-310x310.png
  frontend/public/favicons/ms/ms-icon-70x70.png
  frontend/styles/home/home.module.scss.d.ts
  frontend/styles/onglist.module.scss
  frontend/styles/onglist.module.scss.d.ts
  frontend/styles/organization.module.scss
  frontend/yarn.lock
Due: build:frontend, deploy:frontend

warning beta added
  frontend/pages/_app.tsx
  frontend/public/svg/advertencia.svg
  frontend/styles/styles.scss
Due: build:frontend, deploy:frontend

a ver ahora si puedo subirlo
  backend/src/api/controller/project.controller.ts
  backend/src/api/schemas/project.ts
  backend/tsconfig.json
Due: build:backend, deploy:backend

me duele la cabeza
  frontend/api/filters.ts
  frontend/components/projects/Contenido.tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

pagination for filters
  backend/src/api/controller/paginationFilter.ts
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
Due: build:backend, deploy:backend

format problem
  backend/src/api/controller/paginationFilter.ts
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

testing filters in frontend
  frontend/api/filters.ts
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/TextCheck.tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

fix pagination with filters
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

list of ongs success
  backend/src/api/controller/project.controller.ts
  frontend/api/categories.json
  frontend/api/filters.ts
  frontend/components/projects/Contenido.tsx
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/TextCheck.tsx
  frontend/pages/projects.tsx
  frontend/styles/onglist.module.scss
  frontend/styles/onglist.module.scss.d.ts
  frontend/styles/organization.module.scss.d.ts
  frontend/styles/styles.scss.d.ts
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

error in commit styles modules
  frontend/styles/organization.module.scss.d.ts
Due: build:frontend, deploy:frontend

backend format problem
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

google maps api updated
  frontend/components/organization/Map.tsx
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

google maps updated
  frontend/components/organization/Map.tsx
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

testing env variable
  frontend/components/organization/Map.tsx
Due: build:frontend, deploy:frontend

google maps
  frontend/components/organization/Map.tsx
  frontend/package.json
  frontend/utils/config.ts
  frontend/yarn.lock
Due: build:frontend, deploy:frontend

react gtm updated
  frontend/pages/_app.tsx
Due: build:frontend, deploy:frontend

tuve que descargar de nuevo la app para hacer el push
  backend/src/api/controller/project.controller.ts
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/ResultItem.tsx
  frontend/styles/onglist.module.scss
  frontend/styles/onglist.module.scss.d.ts
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

responsive targgeta
  frontend/styles/onglist.module.scss
Due: build:frontend, deploy:frontend

p
  frontend/components/projects/ContenidoSider.tsx
Due: build:frontend, deploy:frontend

falta dos toques locos
  frontend/api/categories.json
  frontend/components/home/banner.tsx
  frontend/components/home/colaboracion.tsx
  frontend/components/home/contribuir.tsx
  frontend/components/home/nosotros-home.tsx
  frontend/components/projects/ResultItem.tsx
  frontend/pages/index.tsx
  frontend/styles/home/home.module.scss
  frontend/styles/onglist.module.scss
  frontend/styles/styles.scss
Due: build:frontend, deploy:frontend

Path conditions:
  build:backend: any of: backend/**/*
  build:frontend: any of: frontend/**/*
  deploy:backend: any of: backend/**/*
  deploy:frontend: any of: frontend/**/*
