Repository GentemProject/mainpage-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:frontend, deploy:backend, deploy:frontend

build:backend:
  stage: build
  image: node:12.13.1-alpine
  script:
  - cd backend
  - yarn install
  - yarn format:check
  - yarn build
  artifacts:
    paths:
    - backend/build
    - backend/node_modules

build:frontend:
  stage: build
  image: node:12.13.1-alpine
  script:
  - cd frontend
  - yarn install
  - yarn export
  artifacts:
    paths:
    - frontend/out

deploy:backend:
  stage: deploy
  image: pahud/aws-sam-cli:latest
  script:
  - cd backend
  - printenv > .env
  - sam validate --template-file template.yaml
  - sam package --template-file template.yaml --output-template-file packaged.yaml --s3-bucket gentem-backend --s3-prefix gt-api
  ...

deploy:frontend:
  stage: deploy
  image: garland/aws-cli-docker:latest
  script:
  - cd frontend
  - aws s3 cp ./out s3://gentem/_next --recursive --acl public-read
  - aws cloudfront create-invalidation --distribution-id E3K0FAMHGVOUZH --paths '/*'
  dependencies:
  - build:frontend

graphql organizations updated for pageData and integrated in frontend, pagination without skipping is missing
  backend/src/graphql/schema.graphql
  backend/src/services/organizations/queries.ts
  frontend/components/specific/causeList/components/filter/index.tsx
  frontend/components/specific/causeList/components/organizations/index.tsx
  frontend/components/specific/causeList/index.tsx
  frontend/pages/projects.tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

filter by most recent organization
  backend/src/services/organizations/queries.ts
  frontend/components/specific/causeList/components/organizations/index.tsx
  frontend/pages/projects.tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

graphql integred in the home
  frontend/components/utils/interactive/recentOng/index.tsx
  frontend/pages/index.tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

has next page in backend updated & schema for new bd also updated
  backend/src/graphql/schema.graphql
  backend/src/scripts/causesMigrated.json
  backend/src/scripts/migrateOrgs.ts
  backend/src/scripts/oldOrganizationsData.json
  backend/src/services/organizations/interface.ts
  backend/src/services/organizations/model.ts
  backend/src/services/organizations/mutations.ts
  backend/src/services/organizations/queries.ts
  frontend/pages/index.tsx
  frontend/pages/projects.tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

map added to bd, product filter fixed, pagination in progress
  backend/src/graphql/schema.graphql
  backend/src/scripts/causesMigrated.json
  backend/src/scripts/migrateOrgs.ts
  backend/src/scripts/oldOrganizationsData.json
  backend/src/services/organizations/interface.ts
  backend/src/services/organizations/model.ts
  backend/src/services/organizations/queries.ts
  frontend/components/specific/cause/contenido/index.tsx
  frontend/components/specific/cause/donationData/index.tsx
  frontend/components/specific/cause/index.tsx
  frontend/components/specific/cause/map/index.tsx
  frontend/components/specific/causeList/components/filter/index.tsx
  frontend/components/specific/causeList/components/organizations/index.tsx
  frontend/pages/cause/[slug].tsx
  frontend/pages/projects.tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

cause profile fixed
  frontend/components/specific/cause/contenido/index.tsx
  frontend/components/specific/cause/donationData/index.tsx
  frontend/components/specific/cause/index.tsx
Due: build:frontend, deploy:frontend

loading error fixed, but pagination still missing
  backend/src/graphql/schema.graphql
  backend/src/services/organizations/queries.ts
  frontend/components/specific/causeList/components/organizations/Organization.tsx
  frontend/components/specific/causeList/index.tsx
  frontend/components/specific/causeList/style.module.scss
  frontend/components/utils/interactive/loader/style.module.scss
  frontend/package.json
  frontend/pages/index.tsx
  frontend/pages/projects.tsx
  frontend/yarn.lock
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

git ignore changed
  .gitignore
Due: none

gtm config for all paths
  frontend/components/gtm.tsx
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/_document.tsx
Due: build:frontend, deploy:frontend

useEffect failed but now its okay
  frontend/components/gtm.ts
  frontend/pages/_app.tsx
  frontend/pages/_document.tsx
Due: build:frontend, deploy:frontend

modal position fixed done for now
  frontend/components/organizationList/onglist.module.scss
Due: build:frontend, deploy:frontend

gtm-website click
  frontend/components/organization/Contenido.tsx
Due: build:frontend, deploy:frontend

gtm events click added
  frontend/components/organization/Contenido.tsx
  frontend/components/organization/ContenidoSider.tsx
  frontend/components/organizationList/Organization.tsx
Due: build:frontend, deploy:frontend

Delete backend directory
  backend/.prettierrc
  backend/package.json
  backend/src/api/auth/index.ts
  backend/src/api/connect.ts
  backend/src/api/controller/mapCoordenate.ts
  backend/src/api/controller/paginationFilter.ts
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
  backend/src/api/schemas/project.ts
  backend/src/app.ts
  backend/src/lambda.ts
  backend/src/logs/errors.ts
  backend/src/logs/log-request.ts
  backend/src/utils/config.ts
  backend/src/utils/database.ts
  backend/template.yaml
  backend/tsconfig.json
  backend/tslint.json
  backend/yarn.lock
Due: build:backend, deploy:backend

Delete .gitignore
  .gitignore
Due: none

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete README.md
  README.md
Due: none

Update next.config.js
  next.config.js
Due: none

componentes terminados
  pages/projects.tsx
Due: none

componentes terminados
  components/specific/causeList/components/modal/index.tsx
Due: none

componentes terminados
  components/specific/cause/index.tsx
  components/specific/causeList/index.tsx
  components/specific/others/cookies/index.tsx
  components/specific/others/faq/index.tsx
Due: none

componentes terminados
  components/utils/architecture/Layout/Header-old/index.tsx
Due: none

componentes terminados
  _next/build-manifest.json
  _next/react-loadable-manifest.json
  _next/server/pages-manifest.json
  _next/server/pages/_app.js
  _next/server/pages/_document.js
  _next/server/pages/_error.js
  _next/server/pages/index.js
  components/utils/interactive/recentOng/index.tsx
Due: none

componentes terminados
  _next/build-manifest.json
  _next/react-loadable-manifest.json
  _next/server/pages-manifest.json
  _next/server/pages/_app.js
  _next/server/pages/_document.js
  _next/server/pages/_error.js
  _next/server/pages/index.js
  _next/static/chunks/pages/_app.js
  _next/static/chunks/webpack.js
  _next/static/development/_buildManifest.js
  components/utils/architecture/Layout/headerNew/index.tsx
  components/utils/architecture/Layout/headerNew/menu-user.tsx
  components/utils/architecture/Layout/headerNew/style.module.scss
  components/utils/architecture/Layout/index.tsx
Due: none

componentes terminados
  components/utils/architecture/Layout/Footer-old/index.tsx
  components/utils/architecture/Layout/footerNew/index.tsx
  components/utils/architecture/Layout/footerNew/style.module.scss
  components/utils/architecture/Layout/index.tsx
Due: none

test
  _next/build-manifest.json
  _next/react-loadable-manifest.json
  _next/server/pages-manifest.json
  _next/server/pages/_app.js
  _next/server/pages/_document.js
  _next/server/pages/_error.js
  _next/server/pages/index.js
  components/specific/home/style.module.scss
Due: none

Path conditions:
  build:backend: any of: backend/**/*
  build:frontend: any of: frontend/**/*
  deploy:backend: any of: backend/**/*
  deploy:frontend: any of: frontend/**/*
