Repository GentemProject/mainpage-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, build:backend, deploy:frontend, deploy:backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

build:frontend:
  stage: build
  image: node:12.13.1-alpine
  script:
    - cd frontend
    - yarn install
    - yarn export
  artifacts:
    paths:
      - frontend/out
  only:
    changes:
      - frontend/**/*

build:backend:
  stage: build
  image: node:12.13.1-alpine
  script:
    - cd backend
    - yarn install
    - yarn format:check
    - yarn build
  artifacts:
    paths:
      - backend/build
      - backend/node_modules
  only:
    changes:
      - backend/**/*

deploy:frontend:
  stage: deploy
  image: garland/aws-cli-docker:latest
  script:
    - cd frontend
    - aws s3 cp ./build s3://gentem/ --recursive --acl public-read
    - aws cloudfront create-invalidation --distribution-id E3K0FAMHGVOUZH --paths '/*'
  dependencies:
    - build:frontend
  only:
    refs:
      - master
    changes:
      - frontend/**/*

deploy:backend:
  stage: deploy
  image: pahud/aws-sam-cli:latest
  script:
    - cd backend
    - printenv > .env
    - sam validate --template-file template.yaml
    - sam package --template-file template.yaml --output-template-file packaged.yaml --s3-bucket gentem-backend --s3-prefix gt-api
    - sam deploy --template-file packaged.yaml --stack-name gt-api --region us-east-1 --capabilities CAPABILITY_IAM
  dependencies:
    - build:backend
  only:
    refs:
      - master
    changes:
      - backend/**/*

conflicto resuelto
  .gitlab
  .gitlab-ci.yml
Due: none

error with undefined
  frontend/components/organization/Contenido.tsx
  frontend/components/organization/ContenidoSider.tsx
  frontend/components/organization/Map.tsx
  frontend/components/projects/Contenido.tsx
  frontend/interfaces/organization.ts
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

as
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
  frontend/api/filters.ts
  frontend/components/home/ongs.tsx
  frontend/components/projects/Contenido.tsx
  frontend/pages/index.tsx
  frontend/styles/home/home.module.scss
Due: build:frontend, build:backend, deploy:frontend, deploy:backend

probanding0
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
  frontend/api/filters.ts
  frontend/pages/index.tsx
Due: build:frontend, build:backend, deploy:frontend, deploy:backend

filters in gentem api
  frontend/api/filters.ts
  frontend/pages/index.tsx
Due: build:frontend, deploy:frontend

slug added
  backend/src/api/controller/project.controller.ts
  frontend/pages/org/[slug].tsx
Due: build:frontend, build:backend, deploy:frontend, deploy:backend

bebe leeaan
  backend/src/api/controller/project.controller.ts
  backend/src/api/schemas/project.ts
Due: build:backend, deploy:backend

yarn format
  backend/src/api/schemas/project.ts
Due: build:backend, deploy:backend

testing the frontend
  frontend/components/organization/Contenido.tsx
  frontend/components/organization/ContenidoSider.tsx
  frontend/components/organization/Map.tsx
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

yaml updated for frontend
  .gitlab-ci.yml
Due: none

yaml fixed
  .gitlab-ci.yml
Due: none

funca eso pa?
  frontend/components/projects/ContenidoSider.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/pages/org/[slug].tsx
  frontend/yarn.lock
Due: build:frontend, deploy:frontend

maybe this time
  frontend/.eslintignore
  frontend/.prettierignore
  frontend/components/projects/ContenidoSider.tsx
  frontend/next.config.js
Due: build:frontend, deploy:frontend

maybe this time
  .gitignore
Due: none

asd
  frontend/components/projects/Contenido.tsx
  frontend/pages/projects.tsx
  frontend/styles/home/home.module.scss
Due: build:frontend, deploy:frontend

wacho arregle las ongs
  frontend/components/home/banner.tsx
  frontend/components/home/colaboracion.tsx
  frontend/components/home/info-home.tsx
  frontend/components/home/nosotros-home.tsx
  frontend/components/home/ongs.tsx
  frontend/components/home/stats.tsx
  frontend/pages/index.tsx
  frontend/styles/home/home.module.scss
Due: build:frontend, deploy:frontend

a cas apete
  frontend/components/home/ongs.tsx
Due: build:frontend, deploy:frontend

header animation & padding fixed, tsconfig.json too
  frontend/components/Header.tsx
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/svg/Logo.tsx
  frontend/styles/header.module.scss
  frontend/styles/header.module.scss.d.ts
  frontend/styles/home/home.module.scss.d.ts
  frontend/styles/layout/layout.scss
  frontend/styles/logo/logo.module.scss
  frontend/styles/logo/logo.module.scss.d.ts
  frontend/tsconfig.json
Due: build:frontend, deploy:frontend

projects page profile image fixed
  frontend/components/projects/ResultItem.tsx
  frontend/styles/onglist.module.scss
Due: build:frontend, deploy:frontend

testing routes
  frontend/components/projects/ContenidoSider.tsx
  frontend/next.config.js
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

trying to fix routes #1
  frontend/next.config.js
Due: build:frontend, deploy:frontend

trying to fix routes #1
  .gitlab
  frontend/next.config.js
Due: build:frontend, deploy:frontend

fix?¿
  .gitlab-ci.yml
Due: none

fix??
  .gitlab-ci.yml
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

i think its complicated maaaan
  frontend/pages/index.tsx
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

i think its complicated maaaan
  frontend/pages/index.tsx
Due: build:frontend, deploy:frontend

probanding
  frontend/pages/404.tsx
Due: build:frontend, deploy:frontend

probanding
  .gitlab-ci.yml
Due: none

probnado
  .gitlab-ci.yml
Due: none

probnado
  frontend/next.config.js
Due: build:frontend, deploy:frontend

altoque compa te rediseño lo que quieras ñero
  frontend/components/home/info-home.tsx
  frontend/styles/home/home.module.scss
  frontend/styles/home/home.module.scss.d.ts
Due: build:frontend, deploy:frontend

altoque compa te rediseño cuantas veces sea necesario deaaa
  frontend/styles/home/home.module.scss
Due: build:frontend, deploy:frontend

bueno la tercera es la vencida
  frontend/styles/home/home.module.scss
Due: build:frontend, deploy:frontend

probando routes
  frontend/next.config.js
Due: build:frontend, deploy:frontend

probando lucky
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

probando suertovich
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

testing deploy on aws
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend
