Repository GentemProject/mainpage-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:frontend, deploy:backend, deploy:frontend

build:backend:
  stage: build
  image: node:12.13.1-alpine
  script:
  - cd backend
  - yarn install
  - yarn format:check
  - yarn build
  artifacts:
    paths:
    - backend/build
    - backend/node_modules

build:frontend:
  stage: build
  image: node:12.13.1-alpine
  script:
  - cd frontend
  - yarn install
  - yarn export
  artifacts:
    paths:
    - frontend/out

deploy:backend:
  stage: deploy
  image: pahud/aws-sam-cli:latest
  script:
  - cd backend
  - printenv > .env
  - sam validate --template-file template.yaml
  - sam package --template-file template.yaml --output-template-file packaged.yaml --s3-bucket gentem-backend --s3-prefix gt-api
  ...

deploy:frontend:
  stage: deploy
  image: garland/aws-cli-docker:latest
  script:
  - cd frontend
  - mv out/_next .
  - mv out _out
  - mkdir -p out/builds/Our-BUild-Hash
  - mv _out/* out/builds/Our-BUild-Hash
  - rm -rf _out
  - mv _next out/
  ...

pagination filter show cuantity per filter
  backend/src/api/controller/paginationFilter.ts
Due: build:backend, deploy:backend

show quantity of filter orgs
  frontend/components/projects/ContenidoSider.tsx
  frontend/interfaces/organization.ts
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

asd
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

beta details finished
  frontend/api/categories.json
  frontend/components/projects/Contenido.tsx
  frontend/pages/_app.tsx
  frontend/pages/projects.tsx
  frontend/styles/styles.scss
Due: build:frontend, deploy:frontend

beta hidden fixed
  frontend/pages/_app.tsx
Due: build:frontend, deploy:frontend

when no found ong fixed
  frontend/components/projects/ContenidoSider.tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

no es nada importante
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

chequeo
  frontend/api/filters.ts
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

Cambio en paginacion. El resultado fue, que ahora la consulta se hace en orden descendente por _id, esto para generar una vista aleatoria de las organizaciones, consultar por md si hay dudas
  backend/src/api/controller/paginationFilter.ts
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

new orgs added
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
  frontend/components/projects/ResultItem.tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

solved problem with format
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

box not checkex
  frontend/components/projects/TextCheck.tsx
  frontend/pages/projects.tsx
  frontend/styles/onglist.module.scss
Due: build:frontend, deploy:frontend

dale colombiaaaaa anda el check compa altoqueroqueeee
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/TextCheck.tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

mostrando x organizaciones actualizado
  frontend/components/projects/ContenidoSider.tsx
Due: build:frontend, deploy:frontend

copy & favicon updated
  frontend/components/Header.tsx
  frontend/components/home/banner.tsx
  frontend/components/home/info-home.tsx
  frontend/components/home/nosotros-home.tsx
  frontend/components/home/ongs.tsx
  frontend/components/projects/ContenidoSider.tsx
  frontend/pages/_app.tsx
  frontend/pages/index.tsx
  frontend/public/favicon.ico
  frontend/public/favicons/android/android-icon-144x144.png
  frontend/public/favicons/android/android-icon-192x192.png
  frontend/public/favicons/android/android-icon-36x36.png
  frontend/public/favicons/android/android-icon-48x48.png
  frontend/public/favicons/android/android-icon-72x72.png
  frontend/public/favicons/android/android-icon-96x96.png
  frontend/public/favicons/android/manifest.json
  frontend/public/favicons/apple/apple-icon-114x114.png
  frontend/public/favicons/apple/apple-icon-120x120.png
  frontend/public/favicons/apple/apple-icon-144x144.png
  frontend/public/favicons/apple/apple-icon-152x152.png
  frontend/public/favicons/apple/apple-icon-180x180.png
  frontend/public/favicons/apple/apple-icon-57x57.png
  frontend/public/favicons/apple/apple-icon-60x60.png
  frontend/public/favicons/apple/apple-icon-72x72.png
  frontend/public/favicons/apple/apple-icon-76x76.png
  frontend/public/favicons/apple/apple-icon-precomposed.png
  frontend/public/favicons/apple/apple-icon.png
  frontend/public/favicons/favicon-16x16.png
  frontend/public/favicons/favicon-32x32.png
  frontend/public/favicons/favicon-96x96.png
  frontend/public/favicons/ms/ms-icon-144x144.png
  frontend/public/favicons/ms/ms-icon-150x150.png
  frontend/public/favicons/ms/ms-icon-310x310.png
  frontend/public/favicons/ms/ms-icon-70x70.png
  frontend/styles/header.module.scss
  frontend/styles/onglist.module.scss
Due: build:frontend, deploy:frontend

banner bg fixed
  frontend/public/organizations/hero_l.jpg
  frontend/public/organizations/hero_m.jpg
  frontend/public/organizations/hero_s.jpg
  frontend/public/organizations/hero_xl.jpg
  frontend/public/organizations/hero_xxl.jpg
  frontend/styles/onglist.module.scss
Due: build:frontend, deploy:frontend

selects y filtros nuevamente
  frontend/components/projects/Contenido.tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

ong filter fixed
  backend/src/api/controller/paginationFilter.ts
  frontend/interfaces/organization.ts
  frontend/pages/projects.tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

Colombia bug fixed
  frontend/api/filters.ts
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

Colombia bug fixed
  backend/src/api/controller/paginationFilter.ts
Due: build:backend, deploy:backend

home text updated
  frontend/components/home/info-home.tsx
Due: build:frontend, deploy:frontend

blue info updated
  frontend/styles/footer.module.scss
Due: build:frontend, deploy:frontend

ISR done
  frontend/next.config.js
  frontend/package.json
  frontend/pages/index.tsx
  frontend/pages/org/[slug].tsx
  frontend/pages/projects.tsx
  frontend/yarn.lock
Due: build:frontend, deploy:frontend

gitlab ci updated
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

isg fixed
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

isg fixed
  .gitlab-ci.yml
Due: none

trailingslash
  frontend/next.config.js
  frontend/package.json
Due: build:frontend, deploy:frontend

testing isg
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

testing isg
  .gitlab-ci.yml
Due: none

testing isg2
  .gitlab-ci.yml
Due: none

test isg 3
  .gitlab-ci.yml
Due: none

problem in aws
  .gitlab-ci.yml
Due: none

fixeando
  .gitlab-ci.yml
Due: none

aws config updated
  .gitlab-ci.yml
  frontend/next.config.js
Due: build:frontend, deploy:frontend

restoring app
  .gitlab-ci.yml
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

aws updated
  .gitlab-ci.yml
  frontend/next.config.js
Due: build:frontend, deploy:frontend

SEO, text & design updated
  frontend/api/categories.json
  frontend/components/organization/Map.tsx
  frontend/components/projects/Contenido.tsx
  frontend/pages/_app.tsx
  frontend/styles/home/home.module.scss
  frontend/styles/usable.module.scss
Due: build:frontend, deploy:frontend

Path conditions:
  build:backend: any of: backend/**/*
  build:frontend: any of: frontend/**/*
  deploy:backend: any of: backend/**/*
  deploy:frontend: any of: frontend/**/*
