Repository GentemProject/mainpage-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:frontend, deploy:backend, deploy:frontend

.gitlab-ci.yml:

stages:
  - build
  - deploy

build:backend:
  stage: build
  image: node:12.13.1-alpine
  script:
    - cd backend
    - yarn install
    - yarn format:check
    - yarn build
  artifacts:
    paths:
      - backend/build
      - backend/node_modules
  only:
    changes:
      - backend/**/*

build:frontend:
  stage: build
  image: node:12.13.1-alpine
  script:
    - cd frontend
    - yarn install
    - yarn export
  artifacts:
    paths:
      - frontend/out
  only:
    changes:
      - frontend/**/*

deploy:backend:
  stage: deploy
  image: pahud/aws-sam-cli:latest
  script:
    - cd backend
    - printenv > .env
    - sam validate --template-file template.yaml
    - sam package --template-file template.yaml --output-template-file packaged.yaml --s3-bucket gentem-backend --s3-prefix gt-api
    - sam deploy --template-file packaged.yaml --stack-name gt-api --region us-east-1 --capabilities CAPABILITY_IAM
  dependencies:
    - build:backend
  only:
    refs:
      - master
    changes:
      - backend/**/*

deploy:frontend:
  stage: deploy
  image: garland/aws-cli-docker:latest
  script:
    - cd frontend
    - aws s3 cp ./out s3://gentem/_next --recursive --acl public-read
    - aws cloudfront create-invalidation --distribution-id E3K0FAMHGVOUZH --paths '/*'
  dependencies:
    - build:frontend
  only:
    refs:
      - master
    changes:
      - frontend/**/*

config works
  backend/src/api/controller/mapCoordenate.ts
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/interface.ts
  backend/src/api/routes/projects.ts
  backend/src/api/routes/viejoIndex.ts
  backend/src/api/schemas/project.ts
Due: build:backend, deploy:backend

asd
  frontend/components/home/banner.tsx
  frontend/components/home/info-home.tsx
  frontend/components/home/ongs.tsx
  frontend/components/projects/Contenido.tsx
  frontend/components/usables/buttons/inputs/icons.tsx
  frontend/components/usables/buttons/inputs/select.tsx
  frontend/components/usables/buttons/inputs/switch.tsx
  frontend/styles/home/home.module.scss
  frontend/styles/onglist.module.scss
  frontend/styles/styles.scss
  frontend/styles/usable.module.scss
  frontend/styles/usable.module.scss.d.ts
  frontend/yarn.lock
Due: build:frontend, deploy:frontend

new schema added
  backend/src/api/controller/mapCoordenate.ts
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
  backend/src/api/schemas/project.ts
Due: build:backend, deploy:backend

new schema added
  frontend/utils/config.ts
Due: build:frontend, deploy:frontend

new schema added
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

bd new is complete
  backend/src/api/controller/mapCoordenate.ts
  backend/src/api/controller/paginationFilter.ts
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

env config for api
  backend/src/api/controller/paginationFilter.ts
  frontend/api/filters.ts
  frontend/next.config.js
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

va queriendo
  frontend/components/projects/Contenido.tsx
  frontend/components/usables/buttons/inputs/icons.tsx
  frontend/components/usables/buttons/inputs/select.tsx
  frontend/styles/usable.module.scss
  frontend/styles/usable.module.scss.d.ts
Due: build:frontend, deploy:frontend

va de nuevo
  frontend/components/home/banner.tsx
  frontend/components/home/info-home.tsx
  frontend/components/home/ongs.tsx
Due: build:frontend, deploy:frontend

layout created
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/Organization.tsx
  frontend/styles/onglist.module.scss
  frontend/styles/organizationList/organizationList.module.scss
Due: build:frontend, deploy:frontend

grid almost ready
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/Organization.tsx
  frontend/styles/onglist.module.scss
  frontend/styles/organizationList/organizationList.module.scss
Due: build:frontend, deploy:frontend

new card updated
  frontend/components/projects/Organization.tsx
  frontend/components/svg/arrow.tsx
  frontend/package.json
  frontend/styles/organizationList/organizationList.module.scss
  frontend/yarn.lock
Due: build:frontend, deploy:frontend

tsm styles checked
  frontend/styles/header.module.scss.d.ts
  frontend/styles/onglist.module.scss.d.ts
  frontend/styles/organization.module.scss.d.ts
  frontend/styles/organizationList/organizationList.module.scss.d.ts
  frontend/styles/styles.scss.d.ts
Due: build:frontend, deploy:frontend

data used in frontend
  backend/src/api/controller/paginationFilter.ts
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
  backend/src/api/schemas/project.ts
  frontend/api/filters.ts
  frontend/components/organization/Map.tsx
  frontend/components/projects/Contenido.tsx
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/Organization.tsx
  frontend/pages/projects.tsx
  frontend/styles/organizationList/organizationList.module.scss
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

estos cambios tendrian que estar en la rama aparte, pero bueno, no afecta nada
  frontend/components/actualizacion de componentes/Container.tsx
  frontend/components/actualizacion de componentes/readme.md
  frontend/components/usables/buttons/inputs/colores.tsx
  frontend/components/usables/buttons/inputs/text.tsx
  frontend/components/usables/buttons/inputs/textarea.tsx
  frontend/pages/admin/testing.tsx
  frontend/styles/others.module.scss
  frontend/styles/styles.scss
Due: build:frontend, deploy:frontend

asd
  frontend/pages/admin/testing.tsx
Due: build:frontend, deploy:frontend

yml edited
  .gitlab-ci.yml
  frontend/components/organization/Contenido.tsx
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/Organization.tsx
  frontend/components/projects/ResultItem.tsx
  frontend/components/usables/useCategories.tsx
  frontend/styles/organizationList/organizationList.module.scss
Due: build:frontend, deploy:frontend

testing ci cd
  .gitlab-ci.yml
Due: none

testing
  .gitlab-ci.yml
Due: none

testing gitlab ci
  frontend/styles/organizationList/organizationList.module.scss
Due: build:frontend, deploy:frontend

testing deploy 2
  .gitlab-ci.yml
Due: none

conflict fixed
  frontend/styles/onglist.module.scss
Due: build:frontend, deploy:frontend

fixed organization profile
  backend/src/api/controller/project.controller.ts
  frontend/api/filters.ts
  frontend/components/organization/Contenido.tsx
  frontend/components/organization/Map.tsx
  frontend/pages/org/[slug].tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

fix?
  frontend/api/filters.ts
  frontend/next.config.js
  frontend/pages/org/[slug].tsx
Due: build:frontend, deploy:frontend

inputs
  frontend/components/usables/buttons/inputs/colores.tsx
  frontend/components/usables/buttons/inputs/radio.tsx
  frontend/components/usables/buttons/inputs/text.tsx
  frontend/components/usables/buttons/inputs/textarea.tsx
  frontend/pages/admin/testing.tsx
Due: build:frontend, deploy:frontend

no more use old bd
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
  frontend/api/filters.ts
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

filter button added
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/SearchSelect.tsx
  frontend/components/projects/filterContainer.tsx
  frontend/pages/_app.tsx
  frontend/pages/projects.tsx
  frontend/public/svg/advertencia.svg
  frontend/styles/home/home.module.scss.d.ts
  frontend/styles/onglist.module.scss
  frontend/styles/organizationList/organizationList.module.scss
  frontend/styles/organizationList/organizationList.module.scss.d.ts
  frontend/styles/others.module.scss.d.ts
  frontend/styles/styles.scss
  frontend/styles/styles.scss.d.ts
  frontend/styles/usable.module.scss.d.ts
Due: build:frontend, deploy:frontend

filter span added in mobile
  frontend/components/organization/Contenido.tsx
  frontend/components/projects/ContenidoSider.tsx
  frontend/components/projects/Organization.tsx
  frontend/components/projects/filterContainer.tsx
  frontend/components/usables/useCategories.tsx
  frontend/styles/organizationList/organizationList.module.scss
  frontend/styles/organizationList/organizationList.module.scss.d.ts
Due: build:frontend, deploy:frontend

layout & organization updated
  frontend/components/Layout/Footer/footer.module.scss
  frontend/components/Layout/Footer/index.tsx
  frontend/components/Layout/Header/header.module.scss
  frontend/components/Layout/Header/index.tsx
  frontend/components/Layout/Layout.module.scss
  frontend/components/Layout/index.tsx
  frontend/components/organization/Contenido.tsx
  frontend/components/organization/ContenidoSider.tsx
  frontend/components/organization/Map.tsx
  frontend/components/organization/organization.module.scss
  frontend/components/organizationList/Banner.tsx
  frontend/components/organizationList/Contenido.tsx
  frontend/components/organizationList/ContenidoSider.tsx
  frontend/components/organizationList/Organization.tsx
  frontend/components/organizationList/SearchSelect.tsx
  frontend/components/organizationList/TextCheck.tsx
  frontend/components/organizationList/filterContainer.tsx
  frontend/components/organizationList/index.tsx
  frontend/components/organizationList/onglist.module.scss
  frontend/components/organizationList/organizationList.module.scss
  frontend/components/usables/buttons/inputs/select.tsx
  frontend/pages/_app.tsx
  frontend/pages/admin/index.tsx
  frontend/pages/index.tsx
  frontend/pages/org/[slug].tsx
  frontend/pages/projects.tsx
  frontend/styles/footer.module.scss.d.ts
  frontend/styles/header.module.scss.d.ts
  frontend/styles/lib/variables.scss
  frontend/styles/onglist.module.scss.d.ts
  frontend/styles/organization.module.scss.d.ts
  frontend/styles/organizationList/organizationList.module.scss.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: build:frontend, deploy:frontend

fix(backend): adding graphql boilerplate code
  backend/package.json
  backend/src/app.ts
  backend/src/config/environment.ts
  backend/src/config/index.ts
  backend/src/graphql/apollo-context.ts
  backend/src/graphql/apollo-plugins.ts
  backend/src/graphql/apollo.ts
  backend/src/graphql/index.ts
  backend/src/graphql/resolvers.ts
  backend/src/graphql/schema.graphql
  backend/src/libs/FirebaseApi.ts
  backend/src/libs/index.ts
  backend/src/middlewares/connectDatabase.ts
  backend/src/middlewares/firebase.ts
  backend/src/middlewares/getAuth.ts
  backend/src/services/auth/index.ts
  backend/src/services/auth/mutations.ts
  backend/src/services/auth/queries.ts
  backend/src/services/index.ts
  backend/src/utils/index.ts
  backend/src/utils/logger.ts
  backend/yarn.lock
Due: build:backend, deploy:backend

select finished
  frontend/components/usables/buttons/inputs/select.tsx
  frontend/pages/admin/testing.tsx
  frontend/styles/lib/variables.scss
  frontend/styles/usable.module.scss
  frontend/styles/usable.module.scss.d.ts
  frontend/yarn.lock
Due: build:frontend, deploy:frontend

select finished
  frontend/components/usables/buttons/inputs/select.tsx
  frontend/styles/usable.module.scss.d.ts
Due: build:frontend, deploy:frontend

feat(auth): adding firebase auth
  backend/.eslintignore
  backend/.eslintrc
  backend/.prettierrc
  backend/package.json
  backend/src/api/auth/index.ts
  backend/src/api/connect.ts
  backend/src/api/controller/mapCoordenate.ts
  backend/src/api/controller/paginationFilter.ts
  backend/src/api/controller/project.controller.ts
  backend/src/api/routes/projects.ts
  backend/src/api/schemas/project.ts
  backend/src/app.ts
  backend/src/config/environment.ts
  backend/src/config/index.ts
  backend/src/graphql/apollo-context.ts
  backend/src/graphql/apollo-plugins.ts
  backend/src/graphql/apollo.ts
  backend/src/graphql/index.ts
  backend/src/graphql/resolvers.ts
  backend/src/graphql/schema.graphql
  backend/src/libs/FirebaseApi.ts
  backend/src/libs/index.ts
  backend/src/middlewares/connectDatabase.ts
  backend/src/middlewares/firebase.ts
  backend/src/middlewares/getAuth.ts
  backend/src/middlewares/index.ts
  backend/src/services/auth/index.ts
  backend/src/services/auth/mutations.ts
  backend/src/services/auth/queries.ts
  backend/src/services/users/controller.ts
  backend/src/services/users/index.ts
  backend/src/services/users/interface.ts
  backend/src/services/users/model.ts
  backend/src/services/users/mutations.ts
  backend/src/services/users/queries.ts
  backend/src/utils/index.ts
  backend/src/utils/logger.ts
  backend/tsconfig.json
  backend/tslint.json
  backend/yarn.lock
Due: build:backend, deploy:backend

refactor(firebase): deleting using firebase for tokens
  backend/package.json
  backend/src/config/constants.ts
  backend/src/config/environment.ts
  backend/src/config/index.ts
  backend/src/graphql/resolvers.ts
  backend/src/graphql/schema.graphql
  backend/src/libs/FirebaseApi.ts
  backend/src/libs/index.ts
  backend/src/middlewares/firebase.ts
  backend/src/middlewares/getAuth.ts
  backend/src/middlewares/index.ts
  backend/src/services/auth/controller.ts
  backend/src/services/auth/index.ts
  backend/src/services/auth/interface.ts
  backend/src/services/auth/model.ts
  backend/src/services/auth/mutations.ts
  backend/src/services/auth/queries.ts
  backend/src/services/users/controller.ts
  backend/src/services/users/index.ts
  backend/src/services/users/interface.ts
  backend/src/services/users/model.ts
  backend/src/services/users/mutations.ts
  backend/src/services/users/queries.ts
  backend/yarn.lock
Due: build:backend, deploy:backend

fix(errores): enhance errors
  backend/src/graphql/schema.graphql
  backend/src/middlewares/getAuth.ts
  backend/src/services/auth/queries.ts
Due: build:backend, deploy:backend

fix(firebase): removing credentials
  backend/src/config/environment.ts
Due: build:backend, deploy:backend

fix(enhance): enhance folders
  backend/src/libs/index.ts
  backend/src/logs/errors.ts
  backend/src/logs/log-request.ts
  backend/src/utils/config.ts
  backend/src/utils/database.ts
Due: build:backend, deploy:backend

fix(enhance): improving code
  backend/package.json
  backend/src/app.ts
  backend/yarn.lock
Due: build:backend, deploy:backend

feat(causes): adding causes to graphql
  backend/src/graphql/resolvers.ts
  backend/src/graphql/schema.graphql
  backend/src/services/causes/controller.ts
  backend/src/services/causes/index.ts
  backend/src/services/causes/interface.ts
  backend/src/services/causes/model.ts
  backend/src/services/causes/queries.ts
  backend/src/services/organizations/interface.ts
  backend/src/services/organizations/model.ts
Due: build:backend, deploy:backend

fix(causes): removing unncesarry code
  backend/src/config/constants.ts
  backend/src/graphql/resolvers.ts
  backend/src/graphql/schema.graphql
  backend/src/services/causes/controller.ts
  backend/src/services/causes/index.ts
  backend/src/services/causes/mutations.ts
Due: build:backend, deploy:backend
