Repository GentemProject/mainpage-frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend, build:frontend, deploy:backend, deploy:frontend

.gitlab-ci.yml:

stages:
  - build
  - deploy

build:backend:
  stage: build
  image: node:12.13.1-alpine
  script:
    - cd backend
    - yarn install
    - yarn format:check
    - yarn build
  artifacts:
    paths:
      - backend/build
      - backend/node_modules
  only:
    changes:
      - backend/**/*

build:frontend:
  stage: build
  image: node:12.13.1-alpine
  script:
    - cd frontend
    - yarn install
    - yarn export
  artifacts:
    paths:
      - frontend/out
  only:
    changes:
      - frontend/**/*

deploy:backend:
  stage: deploy
  image: pahud/aws-sam-cli:latest
  script:
    - cd backend
    - printenv > .env
    - sam validate --template-file template.yaml
    - sam package --template-file template.yaml --output-template-file packaged.yaml --s3-bucket gentem-backend --s3-prefix gt-api
    - sam deploy --template-file packaged.yaml --stack-name gt-api --region us-east-1 --capabilities CAPABILITY_IAM
  dependencies:
    - build:backend
  only:
    refs:
      - master
    changes:
      - backend/**/*

deploy:frontend:
  stage: deploy
  image: garland/aws-cli-docker:latest
  script:
    - cd frontend
    - aws s3 cp ./out s3://gentem/_next --recursive --acl public-read
    - aws cloudfront create-invalidation --distribution-id E3K0FAMHGVOUZH --paths '/*'
  dependencies:
    - build:frontend
  only:
    refs:
      - master
    changes:
      - frontend/**/*

refactor(organizations): adding queries to organization and create is missing
  backend/src/graphql/resolvers.ts
  backend/src/graphql/schema.graphql
  backend/src/services/organizations/controller.ts
  backend/src/services/organizations/index.ts
  backend/src/services/organizations/interface.ts
  backend/src/services/organizations/model.ts
  backend/src/services/organizations/mutations.ts
  backend/src/services/organizations/queries.ts
Due: build:backend, deploy:backend

fix(organizations): removing controlleer and finished filters
  backend/package.json
  backend/src/graphql/schema.graphql
  backend/src/services/organizations/controller.ts
  backend/src/services/organizations/index.ts
  backend/src/services/organizations/interface.ts
  backend/src/services/organizations/model.ts
  backend/src/services/organizations/mutations.ts
  backend/src/services/organizations/queries.ts
  backend/src/types.d.ts
  backend/yarn.lock
Due: build:backend, deploy:backend

adding nested causes
  backend/src/graphql/resolvers.ts
  backend/src/services/causes/controller.ts
  backend/src/services/causes/queries.ts
  backend/src/services/organizations/index.ts
  backend/src/services/organizations/model.ts
  backend/src/services/organizations/types.ts
Due: build:backend, deploy:backend

fix(types): fixing name
  backend/src/services/organizations/types.ts
Due: build:backend, deploy:backend

fix(env): fix env variables
  .gitignore
  backend/src/config/environment.ts
  backend/template.yaml
Due: build:backend, deploy:backend

fix(graphql): i dont kwon what im doing
  backend/.env
  backend/package.json
  backend/src/config/environment.ts
  backend/src/graphql/schema.graphql
  backend/src/middlewares/getAuth.ts
  backend/src/scripts/causesMigrated.json
  backend/src/scripts/migrateCauses.ts
  backend/src/scripts/migrateOrgs.ts
  backend/src/scripts/oldCausesData.json
  backend/src/scripts/oldOrganizationsData.json
  backend/src/services/auth/interface.ts
  backend/src/services/auth/mutations.ts
  backend/src/services/causes/controller.ts
  backend/src/services/causes/mutations.ts
  backend/src/services/organizations/interface.ts
  backend/src/services/organizations/model.ts
  backend/src/services/organizations/mutations.ts
Due: build:backend, deploy:backend

fix(graphql): i dont kwon what im doing
  backend/.env
Due: build:backend, deploy:backend

faq erady
  frontend/components/Layout/Header/header.module.scss
  frontend/components/Layout/Layout.module.scss
  frontend/components/Layout/LayoutContainer.tsx
  frontend/components/Layout/index.tsx
  frontend/components/UtilPage/FAQContent.tsx
  frontend/components/UtilPage/util.module.scss
  frontend/components/organization/organization.module.scss
  frontend/components/organizationList/onglist.module.scss
  frontend/components/svg/nextArrow.tsx
  frontend/pages/index.tsx
  frontend/pages/org/[slug].tsx
  frontend/pages/projects.tsx
  frontend/pages/util/faq.tsx
  frontend/styles/home/home.module.scss
  frontend/styles/lib/variables.scss
Due: build:frontend, deploy:frontend

quote problem fixed
  frontend/components/Layout/Header/header.module.scss
  frontend/components/UtilPage/FAQContent.tsx
  frontend/components/UtilPage/PrivacityContent.tsx
  frontend/components/UtilPage/TersmConditionContent.tsx
  frontend/components/UtilPage/util.module.scss
  frontend/components/organizationList/filterContainer.tsx
  frontend/pages/util/preguntas-frecuentes.tsx
  frontend/pages/util/privacidad.tsx
  frontend/pages/util/terminos-condiciones-de-uso.tsx
Due: build:frontend, deploy:frontend

fixed modal
  frontend/components/usables/buttons/inputs/select.tsx
  frontend/styles/usable.module.scss
  frontend/styles/usable.module.scss.d.ts
Due: build:frontend, deploy:frontend

format check
  backend/src/api/controller/project.controller.ts
Due: build:backend, deploy:backend

next config updated
  frontend/next.config.js
  frontend/pages/util/terminos.tsx
Due: build:frontend, deploy:frontend

input select
  frontend/components/usables/buttons/inputs/select.tsx
  frontend/styles/usable.module.scss
Due: build:frontend, deploy:frontend

filter causeId fiex
  frontend/components/organizationList/filterContainer.tsx
  frontend/pages/_app.tsx
Due: build:frontend, deploy:frontend

cambio de arquitectura
  frontend/components/organizationList/Contenido.tsx
  frontend/components/organizationList/filterContainer.tsx
  frontend/components/usables/buttons/inputs/select.tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

acomodando las primeras cosas
  frontend/hooks/useCategories.tsx
  frontend/hooks/useLocation.tsx
  frontend/pages/cause/[slug].tsx
  frontend/pages/otros/politicas/cookies.tsx
  frontend/pages/otros/politicas/privacidad.tsx
  frontend/pages/otros/preguntas-frecuentes.tsx
Due: build:frontend, deploy:frontend

rutas arregladas
  frontend/components/specific/cause/organization/Contenido.tsx
  frontend/components/specific/causeLIst/organizationList/Contenido.tsx
  frontend/components/specific/causeLIst/organizationList/filterContainer.tsx
  frontend/components/specific/home/about/nosotros-home.tsx
  frontend/components/specific/home/colaboration/colaboracion.tsx
  frontend/components/specific/home/colaboration/contribuir.tsx
  frontend/components/specific/home/info/info-home.tsx
  frontend/components/specific/home/stats/stats.tsx
  frontend/components/specific/home/style.module.scss
  frontend/components/utils/architecture/Layout/Footer/footer.module.scss
  frontend/components/utils/architecture/Layout/Header/header.module.scss
  frontend/components/utils/architecture/hero/index.tsx
  frontend/components/utils/interactive/inputs/form/radio/index.tsx
  frontend/components/utils/interactive/inputs/form/select/index.tsx
  frontend/components/utils/interactive/inputs/form/switch/index.tsx
  frontend/components/utils/interactive/inputs/form/text/index.tsx
  frontend/components/utils/interactive/recentOng/ongs.tsx
  frontend/pages/admin/index.tsx
  frontend/pages/admin/testing.tsx
  frontend/pages/index.tsx
  frontend/styles/styles.scss
  frontend/styles/variables.scss
Due: build:frontend, deploy:frontend

rutas arregladas
  frontend/pages/cause/[slug].tsx
Due: build:frontend, deploy:frontend

fixed some mistakes
  frontend/components/specific/causeLIst/organizationList/ContenidoSider.tsx
  frontend/components/utils/architecture/loader/index.tsx
  frontend/components/utils/interactive/inputs/form/select/index.tsx
  frontend/hooks/useCategories.tsx
  frontend/pages/projects.tsx
  frontend/tsconfig.json
Due: build:frontend, deploy:frontend

fixed some mistakes 2
  frontend/components/specific/causeLIst/organizationList/Organization.tsx
  frontend/components/specific/causeLIst/organizationList/filterContainer.tsx
  frontend/components/specific/home/about/index.tsx
Due: build:frontend, deploy:frontend

fixed some mistakes 3
  frontend/components/specific/home/colaboration/index.tsx
  frontend/components/specific/home/info/index.tsx
  frontend/components/specific/home/stats/index.tsx
  frontend/pages/admin/testing.tsx
Due: build:frontend, deploy:frontend

fixed some mistakes 4
  frontend/components/utils/interactive/inputs/buttons/primary/index.tsx
Due: build:frontend, deploy:frontend

fixed some mistakes 5
  frontend/components/utils/interactive/inputs/form/search/index.tsx
Due: build:frontend, deploy:frontend

fixed some mistakes 6
  frontend/components/utils/interactive/recentOng/index.tsx
  frontend/pages/index.tsx
Due: build:frontend, deploy:frontend

Location error fixed
  frontend/components/organizationList/Organization.tsx
Due: build:frontend, deploy:frontend

dale amigo date cuenta
  frontend/components/specific/cause/organization/organization.module.scss
  frontend/components/specific/causeLIst/organizationList/onglist.module.scss
  frontend/components/specific/home/style.module.scss
  frontend/components/utils/architecture/Layout/container.tsx
  frontend/components/utils/architecture/Layout/style.module.scss
  frontend/components/utils/architecture/hero/index.tsx
  frontend/components/utils/architecture/loader/index.tsx
  frontend/components/utils/interactive/inputs/form/select/index.tsx
  frontend/components/utils/interactive/inputs/form/style.module.scss
  frontend/components/utils/interactive/recentOng/index.tsx
  frontend/pages/index.tsx
  frontend/pages/projects.tsx
  frontend/styles/lib/usables.module.scss
  frontend/styles/usable.module.scss
Due: build:frontend, deploy:frontend

cause & cause list finished
  frontend/components/specific/cause/contenido/index.tsx
  frontend/components/specific/cause/donationData/index.tsx
  frontend/components/specific/cause/index.tsx
  frontend/components/specific/cause/map/index.tsx
  frontend/components/specific/cause/organization/index.tsx
  frontend/components/specific/cause/style.module.scss
  frontend/components/specific/causeLIst/organizationList/TextCheck.tsx
  frontend/components/specific/causeLIst/organizationList/filterContainer.tsx
  frontend/components/specific/causeLIst/organizationList/index.tsx
  frontend/components/specific/causeLIst/organizationList/organizationList.module.scss
  frontend/components/specific/causeList/components/Banner.tsx
  frontend/components/specific/causeList/components/SearchSelect.tsx
  frontend/components/specific/causeList/components/filter/index.tsx
  frontend/components/specific/causeList/components/modal/index.tsx
  frontend/components/specific/causeList/components/organizations/Organization.tsx
  frontend/components/specific/causeList/components/organizations/index.tsx
  frontend/components/specific/causeList/index.tsx
  frontend/components/specific/causeList/style.module.scss
  frontend/components/svg/index.tsx
  frontend/pages/cause/[slug].tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

error del uri comentado
  frontend/components/utils/architecture/hero/index.tsx
  frontend/pages/index.tsx
Due: build:frontend, deploy:frontend

erro del uri comentado parte 2
  frontend/components/utils/architecture/hero/index.tsx
  frontend/pages/index.tsx
Due: build:frontend, deploy:frontend

sdf
  frontend/components/utils/interactive/inputs/buttons/primary/index.tsx
  frontend/pages/admin/testing.tsx
Due: build:frontend, deploy:frontend

reconstruyendo
  frontend/components/specific/causeList/index.tsx
  frontend/components/specific/causeList/style.module.scss
  frontend/components/specific/home/style.module.scss
  frontend/components/specific/others/cookies/index.tsx
  frontend/components/specific/others/style.module.scss
  frontend/components/utils/architecture/Layout/Footer/footer.module.scss
  frontend/components/utils/architecture/Layout/Footer/index.tsx
  frontend/components/utils/architecture/Layout/container.tsx
  frontend/components/utils/architecture/hero/index.tsx
  frontend/components/utils/architecture/hero/style.module.scss
  frontend/components/utils/interactive/inputs/buttons/primary/index.tsx
  frontend/next.config.js
  frontend/pages/index.tsx
Due: build:frontend, deploy:frontend

local storage added
  frontend/pages/_app.tsx
Due: build:frontend, deploy:frontend

local storage added
  frontend/next.config.js
Due: build:frontend, deploy:frontend

graphql integrated in cause
  backend/.env
  backend/package.json
  backend/src/app.ts
  backend/yarn.lock
  frontend/api/index.ts
  frontend/components/specific/causeList/components/organizations/Organization.tsx
  frontend/components/specific/others/faq/index.tsx
  frontend/components/specific/others/privacity/index.tsx
  frontend/components/utils/architecture/hero/index.tsx
  frontend/components/utils/interactive/inputs/buttons/primary/index.tsx
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/cause/[slug].tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

graphql integrated in causeList, filters & props remaining
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

frontend graqhql integration
  frontend/components/specific/cause/contenido/index.tsx
  frontend/components/specific/cause/donationData/index.tsx
  frontend/components/specific/cause/index.tsx
  frontend/components/specific/cause/style.module.scss
  frontend/components/usables/TargetBase.tsx
  frontend/pages/cause/[slug].tsx
  frontend/pages/projects.tsx
Due: build:frontend, deploy:frontend

ongs list added, filter and pagination remaining
  backend/src/graphql/schema.graphql
  backend/src/services/organizations/queries.ts
  frontend/api/index.ts
  frontend/components/specific/causeList/components/organizations/Organization.tsx
  frontend/components/specific/causeList/components/organizations/index.tsx
  frontend/components/specific/causeList/index.tsx
  frontend/pages/projects.tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

filterupdated, double checkbox fix missing
  backend/src/graphql/schema.graphql
  backend/src/services/organizations/queries.ts
  frontend/components/specific/causeList/components/filter/index.tsx
  frontend/components/specific/causeList/components/organizations/Organization.tsx
  frontend/components/specific/causeList/components/organizations/index.tsx
  frontend/components/specific/causeList/index.tsx
  frontend/components/utils/interactive/inputs/form/switch/index.tsx
  frontend/components/utils/interactive/loader/index.tsx
  frontend/components/utils/interactive/loader/style.module.scss
  frontend/pages/projects.tsx
Due: build:backend, build:frontend, deploy:backend, deploy:frontend

modal updated, next page & next page is missing
  frontend/components/specific/causeList/components/filter/index.tsx
  frontend/components/specific/causeList/components/modal/index.tsx
  frontend/components/specific/causeList/components/organizations/index.tsx
  frontend/components/specific/causeList/index.tsx
Due: build:frontend, deploy:frontend
